a {
	position: absolute;
	right:0px;
	text-decoration: none;
}


body {
	line-height: 100px;
}

body {
	padding-right: 400px;
}

body {
	padding-left: 400px;
}

body {
	height: 500px
}

body {
	font-family: sans-serif;
}

em {
	font-family: apple chancery;

}

em {
	font-weight: bolder;
}

em {
	font-size: 24px;
}

#green {
	color: green;
}
#blue {
	color: blue;
}
#orange {
	color: orange;
}
#purple {
	color: purple;
}
#red {
	color: red;
}
#pink {
	color: pink;
}



